.forms-list-fullpage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.forms-list-banner-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.forms-list-display-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    background-color: var(--xpanse-gray);
    box-shadow: 0 0 10px 0 var(--xpanse-gray);
}