.forms-list-fullpage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    animation: fadeIn 0.5s;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--xpanse-gray);
}

.forms-list-banner-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.forms-list-display-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    background-color: var(--xpanse-gray);
    box-shadow: 0 0 10px 0 var(--xpanse-gray);
}

.forms-list-new-forms-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    font-style: italic;
}

/* Keyframes for fading */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}