/* 
Separated border params so that I could concatenate styles for larger & smaller spinners in one component.
*/
.spinner {
    border-style: solid;
    border-color: var(--xpanse-gray);
    border-bottom-color: var(--xpanse-primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 